@model CarViewModel

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="mt-3 p-3 shadow rounded">
                <div class="text-center border-bottom mb-3 p-3">
                    <h3 class="text-info">New Car</h3>
                </div>
                <div class="p-3">
                    <form asp-action="AddCar" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-floating">
                            <select asp-for="SelectedBrand" asp-items="Model.BrandDropdown" class="form-control">
                                <option value="">Select brand</option>
                            </select>
                            <label asp-for="SelectedBrand">Brand</label>
                            <span asp-validation-for="SelectedBrand" class="text-danger"></span><br />
                        </div>

                        <div class="form-floating">
                            <select asp-for="SelectedCarModel" asp-items="Model.CarModelDropdown" class="form-control">
                                <option value="">Select model</option>
                            </select>
                            <label asp-for="SelectedCarModel">Model</label>
                            <span asp-validation-for="SelectedCarModel" class="text-danger"></span><br />
                        </div>

                        <div class="form-floating">
                            <select asp-for="SelectedGearboxType" asp-items="Model.GearboxTypeDropdown" class="form-control">
                                <option value="">Select gearbox type</option>
                            </select>
                            <label asp-for="SelectedGearboxType">Gearbox type</label>
                            <span asp-validation-for="SelectedGearboxType" class="text-danger"></span><br />
                        </div>

                        <div class="form-floating">
                            <select asp-for="SelectedFuelType" asp-items="Model.FuelTypeDropdown" class="form-control">
                                <option value="">Select fuel type</option>
                            </select>
                            <label asp-for="SelectedFuelType">Fuel type</label>
                            <span asp-validation-for="SelectedFuelType" class="text-danger"></span><br />
                        </div>

                        <div class="form-floating">
                            <select asp-for="SelectedLocation" asp-items="Model.LocationDropdown" class="form-control">
                                <option value="">Select location</option>
                            </select>
                            <label asp-for="SelectedLocation">Location</label>
                            <span asp-validation-for="SelectedLocation" class="text-danger"></span><br />
                        </div>

                        <div class="form-floating">
                            <input asp-for="Year" class="form-control" />
                            <label asp-for="Year">Year</label>
                            <span asp-validation-for="Year" class="text-danger"></span><br />
                        </div>

                        <div class="form-floating">
                            <input asp-for="RegistrationNumber" class="form-control" />
                            <label asp-for="RegistrationNumber">Registration Number</label>
                            <span asp-validation-for="RegistrationNumber" class="text-danger"></span><br />
                        </div>

                        <div class="form-floating">
                            <input asp-for="FuelConsumption" class="form-control" />
                            <label asp-for="FuelConsumption">Fuel Consumption (l/100km)</label>
                            <span asp-validation-for="FuelConsumption" class="text-danger"></span><br />
                        </div>

                        <div class="form-floating">
                            <input asp-for="Mileage" class="form-control" />
                            <label asp-for="Mileage">Mileage (km)</label>
                            <span asp-validation-for="Mileage" class="text-danger"></span><br />
                        </div>

                        <div class="form-floating">
                            <input asp-for="Passengers" class="form-control" />
                            <label asp-for="Passengers">Passengers</label>
                            <span asp-validation-for="Passengers" class="text-danger"></span><br />
                        </div>

                        <div class="form-floating">
                            <input asp-for="Luggage" class="form-control" />
                            <label asp-for="Luggage">Luggage</label>
                            <span asp-validation-for="Luggage" class="text-danger"></span><br />
                        </div>

                        <div class="form-floating">
                            <input asp-for="Doors" class="form-control" />
                            <label asp-for="Doors">Doors</label>
                            <span asp-validation-for="Doors" class="text-danger"></span><br />
                        </div>

                        <div class="form-floating">
                            <input asp-for="DailyPrice" class="form-control" />
                            <label asp-for="DailyPrice">Daily Price (EUR)</label>
                            <span asp-validation-for="DailyPrice" class="text-danger"></span><br />
                        </div>

                        <label asp-for="AirConditioner">Air Conditioner</label>
                        @Html.CheckBoxFor(t=>t.AirConditioner) <br /><br />

                        <label asp-for="Availability">Available</label>
                        @Html.CheckBoxFor(t=>t.Availability) <br /><br />

                        <input asp-for="File" class="form-control" />
                        <span asp-validation-for="File" class="text-danger"></span><br />

                        <input class="btn btn-outline-primary" type="submit" value="Submit" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>