@model CarPropertiesViewModel

<h5>Edit the fuel type:</h5>
<form asp-action="EditFuelType" method="post" enctype="multipart/form-data">
    @Html.Hidden("FuelTypeId", Model.FuelTypeId)
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>  
    <label asp-for="FuelType">Fuel Type</label>
    <input asp-for="FuelType" class="form-control" />
    <span asp-validation-for="FuelType" class="text-danger"></span><br />
    <input type="submit" value="Submit" />
</form>