@model ReservationViewModel

<h5>Add payment date:</h5>
<form asp-action="AddPaymentDate" method="post">
    @Html.Hidden("ReservationId", Model.ReservationId)
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <label asp-for="Brand">Brand</label>
    <input asp-for="Brand" class="form-control" readonly />
    <span asp-validation-for="Brand" class="text-danger"></span><br />

    <label asp-for="CarModel">Model</label>
    <input asp-for="CarModel" class="form-control" readonly />
    <span asp-validation-for="CarModel" class="text-danger"></span><br />

    <label asp-for="StartDateString">Reservation start date</label>
    <input asp-for="StartDateString" class="form-control" readonly />
    <span asp-validation-for="StartDateString" class="text-danger"></span><br />

    <label asp-for="EndDateString">Reservation end date</label>
    <input asp-for="EndDateString" class="form-control" readonly />
    <span asp-validation-for="EndDateString" class="text-danger"></span><br />

    <label asp-for="Email">Email</label>
    <input asp-for="Email" class="form-control" readonly />
    <span asp-validation-for="Email" class="text-danger"></span><br />

    <label asp-for="Amount">Amount</label>
    <input asp-for="Amount" class="form-control" readonly />
    <span asp-validation-for="Amount" class="text-danger"></span><br />

    <label asp-for="PaymentDate">Payment Date</label>
    <input asp-for="PaymentDate" class="form-control" type="datetime-local" value="" />
    <span asp-validation-for="PaymentDate" class="text-danger"></span><br />
    <input type="submit" value="Submit" />
</form>