@model SearchViewModel

<h5>Search cars:</h5>
<form asp-controller="Search" asp-action="SearchCars" method="post">

    <label asp-for="SelectedBrand">Brand</label>
    <select asp-for="SelectedBrand" asp-items="Model.BrandDropdown" class="form-control">
        <option value="">Select brand</option>
    </select>

    <label asp-for="SelectedGearboxType">Gearbox type</label>
    <select asp-for="SelectedGearboxType" asp-items="Model.GearboxTypeDropdown" class="form-control">
        <option value="">Select gearbox type</option>
    </select>

    <label asp-for="SelectedFuelType">Fuel type</label>
    <select asp-for="SelectedFuelType" asp-items="Model.FuelTypeDropdown" class="form-control">
        <option value="">Select fuel type</option>
    </select>

    <label asp-for="SelectedLocation">Location</label>
    <select asp-for="SelectedLocation" asp-items="Model.LocationDropdown" class="form-control">
        <option value="">Select location</option>
    </select>

    <label asp-for="Year">Year</label>
    <input asp-for="Year" class="form-control" />
    <span asp-validation-for="Year" class="text-danger"></span><br />

    <label asp-for="FuelConsumption">Fuel Consumption</label>
    <input asp-for="FuelConsumption" class="form-control" />
    <span asp-validation-for="FuelConsumption" class="text-danger"></span><br />

    <label asp-for="Mileage">Mileage</label>
    <input asp-for="Mileage" class="form-control" />
    <span asp-validation-for="Mileage" class="text-danger"></span><br />

    <label asp-for="Passengers">Passengers</label>
    <input asp-for="Passengers" class="form-control" />
    <span asp-validation-for="Passengers" class="text-danger"></span><br />

    <label asp-for="DailyPrice">Daily Price (EUR)</label>
    <input asp-for="DailyPrice" class="form-control" />
    <span asp-validation-for="DailyPrice" class="text-danger"></span><br />

    <label asp-for="StartDate">Reservation start date</label>
    <input asp-for="StartDate" class="form-control" value="" />
    <span asp-validation-for="StartDate" class="text-danger"></span><br />

    <label asp-for="EndDate">Reservation end date</label>
    <input asp-for="EndDate" class="form-control" type="datetime-local" value="" />
    <span asp-validation-for="EndDate" class="text-danger"></span><br />

    <input type="submit" value="Submit" />
</form>